{{>header.partial title="Homepage"}}

<section id="HelloSection"></section>
<section id="Posts-App"></section>

<!--- PAGE LOADING OVERLAY  -->
<section class="loading-overlay">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-yellow-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</section>

<script id="init" type="application/json">{{{state}}}</script>

{{>footer.partial}}
